/* m-plus-rounded-1c-500 - latin */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 500;
  src: url('Fonts/m-plus-rounded-1c-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Fonts/m-plus-rounded-1c-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fonts/m-plus-rounded-1c-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('Fonts/m-plus-rounded-1c-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('Fonts/m-plus-rounded-1c-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Fonts/m-plus-rounded-1c-v10-latin-500.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}
/* m-plus-rounded-1c-700 - latin */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  src: url('Fonts/m-plus-rounded-1c-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Fonts/m-plus-rounded-1c-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fonts/m-plus-rounded-1c-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('Fonts/m-plus-rounded-1c-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('Fonts/m-plus-rounded-1c-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Fonts/m-plus-rounded-1c-v10-latin-700.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}
/* m-plus-rounded-1c-900 - latin */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 900;
  src: url('Fonts/m-plus-rounded-1c-v10-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Fonts/m-plus-rounded-1c-v10-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fonts/m-plus-rounded-1c-v10-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('Fonts/m-plus-rounded-1c-v10-latin-900.woff') format('woff'), /* Modern Browsers */
       url('Fonts/m-plus-rounded-1c-v10-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Fonts/m-plus-rounded-1c-v10-latin-900.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}

html {
  height: 100%;
  margin: 0;
  font-family: 'M Plus Rounded 1c', Arial, Helvetica, sans-serif;
  background-color: rgb(190, 190, 190);
}

body {
  margin: auto;
  padding: 0 0 0.1px 0;
  width: 90vw;
}
/* Stops tap highlighting on mobile!!! */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

header {
  margin: 0;
}

h1 {
  font-weight: 900;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: rgb(190, 190, 190);
  text-shadow:
    -0.03em -0.03em 0.12em rgba(255, 255, 255, 0.8),
     0.03em  0.03em 0.12em rgba(0, 0, 0, 0.5);
}

h3 {
  font-weight: 700;
}

#nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 2.5em;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 30px;
  background-color: rgb(190, 190, 190);
  box-shadow:
    -4px -4px 16px rgba(255, 255, 255, 0.8),
     4px  4px 16px rgba(0, 0, 0, 0.5);
  border-radius: 1.25em;
}

#sort > button {
  border-radius: 13px;
}

#label {
  display: inline;
  font-size: 0.75em;
  background-color: rgb(80, 80, 80);
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  margin-left: 1.5em;
  margin-right: 0.5em;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

button {
  position: relative;
  margin: 0 4px;
  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 0.8),
    inset 0 0 0 0.7px rgb(190, 190, 190);
  overflow: hidden;
  background-color: rgb(175, 175, 175);
  color: white;
  font-family: inherit;
  font-weight: 500;
  border: none;
  line-height: 0;
  padding: 0;
  will-change: background-color;
  transition: background-color 0.15s;
}

button, span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 70px;
  height: 26px;
  background-color: rgb(190, 190, 190);
  box-shadow:
    2px 0px 6px rgba(0, 0, 0, 0.15),
    2px 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  will-change: transform;
  transition: transform 0.25s;
}

#title-author .slider.toggled {
  transform: translateX(70px);
}

#title, #author {
  width: 70px;
  height: 26px;
  padding: 0;
  z-index: 1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#asc-desc .slider {
  width: 26px;
  height: 26px;
}

#asc-desc .slider.toggled {
  transform: translateX(26px);
}

#ascending {
  height: 26px;
  width: 26px;
  line-height: 0;
  padding: 0;
}

#descending {
  height: 26px;
  width: 26px;
  line-height: 0;
  padding: 0;
}

#up-arrow {
  width: 8px;
  z-index: 1;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

#down-arrow {
  width: 8px;
  z-index: 1;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

#add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 100%;
  border-radius: 50%;
  box-shadow:
    -4px -4px 16px rgba(255, 255, 255, 0.8),
     4px  4px 16px rgba(0, 0, 0, 0.5);
}

#add-btn {
  margin: auto;
  box-shadow: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 1em;
  font-weight: 900;
  background-color: rgb(190, 190, 190);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s, background-color 0.15s;
}

#add-btn.toggled {
  background-color: rgb(175, 175, 175);
  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 0.8);
}

#grid {
  margin: 40px 0;
  width: 100%;
  display: grid;
  /* 324px width based on 360x640 mobile screen size;
     "auto-fill" and "1fr" ensure wrap/stretch responsiveness.
     (NOT "auto-fit" because cards could be too wide when there are few). */
  grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
  gap: 40px;
}

.card {
  width: 100%;
  min-height: 100px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  box-shadow:
    -4px -4px 16px rgba(255, 255, 255, 0.8),
     4px  4px 16px rgba(0, 0, 0, 0.5);
}

.card-inset {
  margin: 20px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-title {
  margin: 0;
  font-weight: 900;
  background-color: rgb(80, 80, 80);
  color: transparent;
  text-shadow: 1.2px 1.2px 1.2px rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.book-author, .page-count {
  font-weight: 700;
  background-color: rgb(80, 80, 80);
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.page-count {
  margin: 0;
  font-size: 0.75em;
}

.read-toggle {
  background-image:
    linear-gradient(to right, green 0, green 50%, red 50%, red 100%);
  background-color: transparent;
  background-blend-mode: multiply;
  background-size: 210px 26px;
  background-position: right;
  width: 140px;
  height: 26px;
  border-radius: 13px;
  will-change: background-position;
  transition: background-position 0.25s,
              background-color 0.15s;
}

.read-toggle.toggled {
  background-position: left;
}

.read-toggle .slider.toggled {
  transform: translateX(70px);
}

.read, .unread {
  width: 70px;
  height: 26px;
  padding: 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* REMOVES STICKY HOVER EFFECTS ON MOBILE!!! */
@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
    background-color: rgb(155, 155, 155);
  }
  #add-btn:hover {
    background-color: rgb(165, 165, 165);
  }
  .read-toggle:hover {
    background-color: rgb(230, 230, 230);
  }
  button:active {
    background-color: rgb(140, 140, 140);
  }
  .read-toggle:active {
    background-color: rgb(195, 195, 195);
}
}

@media (max-width: 399px) {
  h1 {
    font-size: 17vw;
  }
}
/* Larger than mobile */
@media (min-width: 400px) {
  h1 {
    font-size: 69px;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 69px;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  h1 {
    font-size: 94px;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  h1 {
    font-size: 125px;
  }

}
/* Larger than HD desktop */
@media (min-width: 1250px) {
  h1 {
    font-size: 125px;
  }
}
