html {
  height: 100%;
  margin: 0;
  font-family: Regular, Arial, Helvetica, sans-serif;
  background-color: rgb(190, 190, 190);
}

body {
  margin: auto;
  width: 90vw;
}
/* Stops tap highlighting on mobile!!! */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

header {
  margin: 0;
}

h1 {
  font-family: Black;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
  color: rgb(190, 190, 190);
  text-shadow:
    -3px -3px 11px rgba(255, 255, 255, 0.6),
     3px  3px 11px rgba(0, 0, 0, 0.3);
}

h3 {
  font-family: Bold;
}

#nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 2.5em;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#nav button, #nav span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 30px;
  background-color: rgb(190, 190, 190);
  box-shadow:
    -0.25em -0.25em 1em rgba(255, 255, 255, 0.6),
     0.25em  0.25em 1em rgba(0, 0, 0, 0.3);
  border-radius: 1.25em;
}

#sort > * {
  border-radius: 13px;
}

#label {
  display: inline;
  font-size: 0.75em;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin-left: 2em;
  margin-right: 0.5em;
}

button {
  position: relative;
  background-color: rgb(175, 175, 175);
  color: white;
  font-family: Regular;
  border: none;
  line-height: 0;
  padding: 0;
  will-change: background-color;
  transition: background-color 0.3s;
}

#title-author, #asc-desc {
  margin: 0 4px;
  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.3),
    inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.slider {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgb(190, 190, 190);
  box-shadow:
    2px 0px 6px rgba(0, 0, 0, 0.15),
    2px 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  will-change: transform;
  transition: transform 0.3s;
}

#title-author .slider {
  width: 70px;
  height: 26px;
}

#title-author .slider.toggled {
  transform: translateX(70px);
}

#title {
  width: 70px;
  height: 26px;
  padding: 0;
  z-index: 1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#author {
  width: 70px;
  height: 26px;
  padding: 0;
  z-index: 1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#asc-desc .slider {
  width: 26px;
  height: 26px;
}

#asc-desc .slider.toggled {
  transform: translateX(26px);
}

#ascending {
  height: 26px;
  width: 26px;
  line-height: 0;
  padding: 0;
}

#descending {
  height: 26px;
  width: 26px;
  line-height: 0;
  padding: 0;
}

#up-arrow {
  width: 8px;
  z-index: 1;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

#down-arrow {
  width: 8px;
  z-index: 1;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

#add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 100%;
  border-radius: 50%;
  box-shadow:
    -0.25em -0.25em 1em rgba(255, 255, 255, 0.6),
     0.25em  0.25em 1em rgba(0, 0, 0, 0.3);
}

#add-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1em;
  font-family: Black;
  background-color: rgb(190, 190, 190);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s, background-color 0.3s;
}

#add-btn.toggled {
  background-color: rgb(175, 175, 175);
  box-shadow: 
    inset 2px 2px 6px rgba(0, 0, 0, 0.3),
    inset -2px -2px 4px rgba(255, 255, 255, 0.7);
}
/* REMOVES STICKY HOVER EFFECTS ON MOBILE!!! */
@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
    background-color: rgb(155, 155, 155);
  }
  #add-btn:hover {
    background-color: rgb(165, 165, 165);
  }
  button:active {
    background-color: rgb(140, 140, 140);
  }
}

@media (max-width: 399px) {
  h1 {
    font-size: 17vw;
  }
}
/* Larger than mobile */
@media (min-width: 400px) {
  h1 {
    font-size: 69px;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 69px;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  h1 {
    font-size: 94px;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  h1 {
    font-size: 125px;
  }

}
/* Larger than HD desktop */
@media (min-width: 1250px) {
  h1 {
    font-size: 125px;
  }
}
